<html>
    <head>
        <title> Django Petclinic | {% block title %} {% endblock %} </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <u1> This is header </u1>
        <div>
            {% block content %} {% endblock %}
        </div>
        <u1> This is footer </u1>
    </body>
</html>