{% extends 'base.html' %}

{% block title%} New Visit {% endblock %}

{% block content %}
<h1> New Visit </h1>
<form method="POST">
  {% csrf_token %}  
  <table>
      <tr>
          <td>
              <label for="pet">Pet</label><br />
          </td>
          <td> {{ form.pet }} </td>
      </tr>
      <tr>
          <td>
              <label for="visit_date">Visit Date</label><br />
          </td>
          <td> {{ form.visit_date }} </td>
      </tr>
      <tr>
          <td>
            <label for="description">Description</label><br />
          </td>
          <td> {{ form.description }} </td>
      </tr>
    
      <tr>
          <td><p class="submit"><input type="submit" value="Add Visit" name=""></p></td>
      </tr>
  </table>
</form>
{% endblock %}
